@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');


/* HERO */
.hero {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1668756600/about1_hvpomm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 70vh;
  padding-bottom: 40px;
}

.hero>p:nth-child(1) {
  padding-top: 15%;
}

.hero>p:nth-child(2) {
  text-align: center;
  font-size: 1.4rem;
  color: #f1f1f1;
  padding: 0px 10%;
  font-family: "Heebo", sans-serif;
}

/* ACCORDION */
.accordion {
  width: 100%;
  margin: 2rem auto;
}

.accordionTitle {
  display: flex;
  cursor: pointer;
  background-color: #e2e2e2;
  color: #878787;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.accordionTitle:hover {
  background-color: #f1f1f1;
}

.accordionTitle,
.accordionContent {
  padding: 1rem;
}

.accordionContent {
  background-color: #f1f1f1;
  color: #878787;
  transition: all 1.5s ease-out;
}

.row>p {
  display: flex;
  flex-direction: row;
  font-family: "Heebo", sans-serif;
  margin-top: 20%;
  font-size: 1.5rem;
  font-weight: bold;
}

.rowReverseved>p {
  display: flex;
  flex-direction: row-reverse;
  font-family: "Heebo", sans-serif;
  margin-top: 20%;
  font-size: 1.5rem;
  font-weight: bold;
}

.listTypeReverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.listTypeReverse>li {
  list-style-type: circle;
  list-style-position: outside;
  margin-top: 10px;
  align-items: flex-end;
  margin-left: 20%;
}

.mainTitle {
  font-family: "Heebo", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
}

.principalImgShadow {
  position: relative;
  top: 10%;
  left: 40%;
  height: 300px;
  width: 300px;
}

.principalImg {
  position: relative;
  top: 0%;
  left: -3%;
  height: 300px;
  width: 300px;
}

/* MISSONSTATEMENT */
.missionStatement>p:nth-child(1) {
  font-weight: bold;
}

.listType>li {
  list-style-type: circle;
  list-style-position: outside;
  margin-top: 10px;
}

/* VISIONSTATEMENT */
.visionStatment {
  display: flex;
  justify-content: flex-end;
}

.CBg {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1668756599/about2_pqh0d7.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 80px;
  position: relative;
}

.CBgTitle>p {
  text-align: center;
}

.CBgContent>p {
  text-align: center;
  padding: 0px 10%;
  font-size: 18px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.25px;
  color: #f1f1f1;
}

.welcomeSection {
  margin-top: 10%;
  padding: 0px 9rem;
}

.welcomeSection>p:nth-child(1) {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: clamp(1.8rem, 10vw, 28px);
  line-height: 30px;
  letter-spacing: 0.25px;
}

.welcomeSection>p:nth-child(2) {
  font-family: "Heebo", sans-serif;
  font-weight: light;
  font-size: 1.1rem;
  line-height: 30px;
  letter-spacing: 0.25px;
}

.welcomeSection>p:nth-child(3) {
  font-family: "Heebo", sans-serif;
  font-weight: light;
  font-size: 1.1rem;
  line-height: 30px;
  letter-spacing: 0.25px;
}

.accordionWrapper {
  padding: 0px 9rem;
}

.accordion-button {
  background-color: #b0acac !important;
}
.principalDetails {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  margin-top: 10%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom-color: #727272;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.principalPosition {
  font-family: "Heebo", sans-serif;
  font-weight: 600;
  text-align: center;
  letter-spacing: 1px;
}
.whyUsContainerDiv {
  background-color: #fff;
  width: 70%;
  border-radius: 20px;
  z-index: 1;
  margin: -5% auto;
}

.whyUsImg {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.whyUsTitle {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
}

.otherLinks {
  background-color: #fff;
}

.otherLinks>p {
  text-align: center;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.25px;
  margin-top: 15vh;
  color: black;
}

.buttonLinksGrp {
  display: flex;
  gap: 1em;
  justify-content: center;
}

.buttonLinks {
  padding: 7px 16px;
  background-color: black;
  color: white;
  border-radius: 30px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .hero>p:nth-child(1) {
    font-size: 30px;
  }

  .hero>p:nth-child(2) {
    font-size: 18px;
  }

  .listTypeReverse>li {
    margin: 0;
  }

  .accordionWrapper {
    padding: 0;
  }

  .accordion {
    width: 90%;
  }

  .row,
  .rowReverseved {
    padding: 0px 2rem;
  }
  .principalImgShadow {
    display: none;
  }

  .mainTitle {
    display: none;
  }

  .whyUsContainerDiv {
    display: none;
  }

  .CBgContent>p {
    text-align: justify;
    padding: 0px 20px;
  }

  .CBgTitle>p {
    text-align: justify;
    padding: 0px 20px;
  }

  .welcomeSection {
    padding: 0px 30px;
  }

  .welcomeSection>p:nth-child(1) {
    font-size: 1.1rem;
  }

  .buttonLinksGrp {
    display: inline-block;
  }
}

@media screen and (width: 820px) {

  .hero>p:nth-child(2) {
    text-align: center;
  }
}

@media screen and (width: 912px) {
  .hero {
    height: 30vh;
  }
}