@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@300;400;500;700&display=swap");

.hero {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1668756600/about1_hvpomm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 75vh;
}
.hero > p:nth-child(1) {
  padding-top: 10%;
}
.accordion {
  width: 100%;
  margin: 2rem auto;
  
}

.accordionTitle {
  display: flex;
  cursor: pointer;
  background-color: #E2E2E2;
  color: #878787;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
}

.accordionTitle:hover {
  background-color: #f1f1f1;
}

.accordionTitle,
.accordionContent {
  padding: 1rem;
  
}

.accordionContent {
  background-color: #f1f1f1;
  color: #878787;
  transition: all 1.5s ease-out;
}
.Aheader > p {
  font-family: "Poppins", sans-serif;
  margin-top: 22px;
  font-size: 20px;
  font-weight: bold;
}
.missionStatement > p:nth-child(1) {
  font-weight: bold;
}
.CBg {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1668756599/about2_pqh0d7.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  padding-top: 30px;
  position: relative;
}
.welcomeSection{
  margin-top: 10%;
  
}
.welcomeSection > p:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 30px;
  letter-spacing: .25px;
}
.welcomeSection > p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-weight: light;
  font-size: 1.1rem;
  line-height: 30px;
  letter-spacing: .25px;
}
.welcomeSection > p:nth-child(3) {
  font-family: "Poppins", sans-serif;
  font-weight: light;
  font-size: 1.1rem;
  line-height: 30px;
  letter-spacing: .25px
}
.accordion-button {
  background-color: #b0acac !important;
}

.whyUsContainerDiv {
  position: absolute;
  background-color: #fff;
  width: 50%;
  margin: 0 auto;
  transform: translate(50%, -50%);
  border-radius: 20px;
}


@media screen and (max-width: 767px) {
  .Aheader {
    text-align: center;
  }
  .accordion {
    width: 90%;
  }
}