
/* ROOT */
.homeBody {
  --heroFontPrimary: clamp(2.5em, 10vw, 5em);
  --heroFontSecondary: clamp(1.4em, 10vw, 2em);
  --heroFontTetiary: clamp(.8em, 10vw, 1.2em);
  --primaryFontSize: 30px;
  --secondaryFontSize: 20px;
  --tetiaryFontSize: 18px;
  --sectionMargin: 10%;
}

/* HERO */
.hero {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1668756600/about1_hvpomm.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  border-bottom: 7px solid #E4E678;
}

.hero>p:nth-child(1) {
  padding-top: 15%;
  text-align: center;
  font-size: var(--heroFontPrimary);
  font-family: 'Bree Serif',serif;
}

.hero>p:nth-child(2) {
  text-align: center;
  font-size: var(--heroFontTetiary);
  color: #f1f1f1;
  font-family: "Open Sans", sans-serif;
  font-size: var(--secondaryFontSize);
}

/* ACCORDION */
.accordionWrapper
.accordion {
  width: 100%;
  margin:  var(--sectionMargin) 0;
  transition: all .6s ease;
}

.accordionWrapper {
  padding: 0px 9rem;
}
.accordionTitle {
  display: flex;
  cursor: pointer;
  background-color: #e2e2e2;
  color: #878787;
  font-weight: bold;
  margin-top: 10px;
  font-family: "Open Sans", sans-serif;
  transition: all .6s ease;
}

.accordionTitle:hover {
  background-color: #A0457B;
  color: #fff;
  transition: all .6s ease;
}
.accordionTitle:active {
  background-color: #A0457B !important;
}
.accordionTitle:visited {
  background-color: #A0457B;
}
.accordionTitle,
.accordionContent {
  padding: 1rem;
  transition: all .6s ease;
}

.accordionContent {
  background-color: #f1f1f1;
  color: #878787;
  transition: all .6s ease;
}

.row>p {
  display: flex;
  flex-direction: row;
  font-family: "Bree Serif", serif;
  margin-top: 20%;
  font-size: var(--secondaryFontSize);
  font-weight: bold;
}

.rowReverseved>p {
  display: flex;
  justify-content: center;
  font-family: "Bree Serif", serif;
  margin-top: 20%;
  font-size: var(--secondaryFontSize);
  font-weight: bold;
}

.listTypeReverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.listTypeReverse>li {
  list-style-type: circle;
  list-style-position: outside;
  margin-top: 10px;
  align-items: flex-end;
  margin-left: 15%;
  font-size: var(--tetiaryFontSize);
  font-family: "Open Sans", sans-serif;
}

.mainTitle {
  font-family: "Bree Serif",serif;
  font-size: var(--secondaryFontSize);
  font-weight: bold;
  display: flex;
  flex-direction: row-reverse;
}

.principalImgShadow {
  position: relative;
  top: 10%;
  left: 40%;
  height: 300px;
  width: 300px;
}

.principalImg {
  position: relative;
  top: 0%;
  left: -3%;
  height: 300px;
  width: 300px;
}

/* MISSONSTATEMENT */
.missionStatement>p:nth-child(1) {
  font-weight: bold;
}

.listType>li {
  list-style-type: circle;
  list-style-position: outside;
  margin-top: 10px;
  font-size: var(--tetiaryFontSize);
  font-family: "Open Sans", sans-serif;
}

/* VISIONSTATEMENT */
.visionStatment {
  display: flex;
  justify-content: flex-end;
}

.CBg {
  background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1668756599/about2_pqh0d7.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 30px;
  padding-bottom: 80px;
  position: relative;
  margin-top: var(--sectionMargin);
}

.CBgTitle>p {
  text-align: center;
  font-family: "Bree Serif", serif;
}

.CBgContent>p {
  text-align: center;
  padding: 0px 10%;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.25px;
  color: #f1f1f1;
}

.welcomeSection {
  margin-top: 10%;
  padding: 0px 9rem;
}

.welcomeSection>p:nth-child(1) {
  font-family: "Bree Serif",serif;
  font-weight: bold;
  font-size: var(--primaryFontSize);
  line-height: 30px;
  letter-spacing: 0.25px;
}

.welcomeSection>p:nth-child(2) {
  font-family: "Open Sans", sans-serif;
  font-weight: light;
  font-size: var(--secondaryFontSize);
  line-height: 30px;
  letter-spacing: 0.25px;
}

.welcomeSection>p:nth-child(3) {
  font-family: "Open Sans", sans-serif;
  font-weight: light;
  font-size: var(--secondaryFontSize);
  line-height: 30px;
  letter-spacing: 0.25px;
}

.accordion-button {
  background-color: #b0acac !important;
}
.principalDetails {
  font-family: "Open Sans", sans-serif;
  font-size: var(--tetiaryFontSize);
  font-weight: bold;
  margin-top: 10%;
  text-align: center;
  padding-bottom: 10px;
  border-bottom-color: #727272;
  border-bottom-width: 1px;
  border-bottom-style: solid;
}
.principalPosition {
  font-family: "Open Sans", sans-serif;
  font-size: var(--tetiaryFontSize);
  font-weight: 600;
  text-align: center;
}
.whyUsContainerDiv {
  background-color: #fff;
  width: 70%;
  border-radius: 20px;
  z-index: 1;
  margin: -5% auto;
}

.whyUsImg {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.whyUsTitle {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: var(--tetiaryFontSize);
  text-align: center;
}

.otherLinks {
  background-color: #fff;
  margin-top: var(--sectionMargin);
}

.otherLinks>p {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 0.25px;
  margin-top: 15vh;
  color: black;
}

.buttonLinksGrp {
  display: flex;
  gap: 1em;
  justify-content: center;
  margin-bottom:7%;
}

.buttonLinks {
  padding: 7px 16px;
  background-color: black;
  color: white;
  border-radius: 30px;
  font-size: 12px;
}

@media screen and (max-width: 768px) {
  .hero {
    height: 300px;
  }
  .hero>p:nth-child(1) {
    font-size: 2em;
    padding-top: 25%;

  }
  .welcomeSection>p:nth-child(2) {
    font-size: .9375rem;
    line-height: 1.6875rem;
  }
  .welcomeSection>p:nth-child(3) {
    font-size: .9375rem;
    line-height: 1.6875rem;
  }

  .hero>p:nth-child(2) {
    font-size: 18px;
    padding: 0px 3rem;
  }

  .listTypeReverse>li {
    margin: 0;
    font-size: .9375rem;
    line-height: 1.6875rem;
  }
  .listType>li{
    font-size: .9375rem;
    line-height: 1.6875rem;
  }

  .accordionWrapper {
    padding: 0px 20px;
  }

  .accordion {
    width: 90%;
  }

  .row,
  .rowReverseved {
    padding: 0px 1.3rem;
  }
  .row>p{
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .rowReverseved>p{
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .principalImgShadow {
    display: none;
  }

  .mainTitle {
    display: none;
  }

  .whyUsContainerDiv {
    display: none;
  }

  .CBgContent>p {
    text-align: justify;
    padding: 0px 20px;
  }

  .CBgTitle>p {
    text-align: justify;
    padding: 0px 20px;
  }

  .welcomeSection {
    padding: 0px 30px;
  }

  .welcomeSection>p:nth-child(1) {
    font-size: 1.1rem;
  }

  .buttonLinksGrp {
    display: inline-block;
  }
}

@media screen and (width: 820px) {
  .hero {
    height: 300px;
  }

  .hero>p:nth-child(2) {
    text-align: center;
  }
}

@media screen and (width: 912px) {
  .hero {
    height: 300px;
  }
}