.calendar-root {
    --grid-gap: 2px;
    --grid-height: 700px;
    --text-color-light: rgba(0, 0, 0, 0.4);
    --text-color-primary: rgba(0, 0, 0, 0.7);
    --grid-background-color: rgb(211, 205, 198);
    --grid-foreground-color: #f3f3f3;
    --space-sm: 4px;
    --space-md: 8px;
    --space-lg: 16px;
    width: 100%;
  }
  
  /* | Sun | Mon | Tue | Wed | Thu | Fri | Sat  */
  .dayOfWeekHeaderCell {
    color: var(--text-color-primary);
    background-color: var(--grid-foreground-color);
    padding: var(--space-md) 0;
    min-width: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .daysOfWeek,
  .daysGrid {
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
  }
  .daysOfWeek {
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 1rem 2rem;
    text-align: center;
    font-family: 'Heebo', sans-serif;
  }

  .daysGrid {
    font-family: "Heebo", sans-serif;
    height: var(--grid-height);
    position: relative;
    border: var(--grid-gap) solid var(--grid-background-color);
    background-color: var(--grid-background-color);
    padding: 0 2rem;
  }
  .dayGridItemContainer:hover {
    background-color: #F2F2F2;
  }
  
  .dayGridItemContainer {
    position: relative;
    background-color: var(--grid-foreground-color);
    display: flex;
    flex-direction: column;
    border: 1px solid #BE0076;
    padding: 2rem 1rem;
    height: 180px;
  }
  
  .dayGridItemContainer:not(.currentMonth) .dayGridItemHeader {
    color: var(--text-color-light);
  }
  
  /* Position the day label within the day cell */
  .dayGridItemContainer .dayGridItemHeader {
    color: var(--text-color-primary);
    padding: var(--space-md);
    padding-bottom: 0;
    flex-shrink: 0;
    font-weight: bold;
  }
  
  .dayGridItemContainer > .dayContentWrapper {
    flex: 1;
    min-height: 0;
    position: relative;
    left: 90%;
    top: -20px;
  }
  
  .navigationHeader {
    display: flex;
    position: relative;
    left: 30px;
  }
  
  /* Prev, Next arrow buttons */
.monthNavArrowButtons {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  background-color: #f8f8f8;
}  
.prevNavArrowButton {
  font-family: 'Heebo', sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  border: 2px solid #BE0076;
  padding: 4px 20px;
  border-top-left-radius: 7px;
  margin-left: 5px;
  transition: all 3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nextNavArrowButton {
  font-family: 'Heebo', sans-serif;
  border: 2px solid #BE0076;
  border-top-right-radius: 7px;
  margin-left: 5px;
  padding: 4px 20px;
  font-size: 1.2em;
}

/* month select, year select */
.monthSelect, .yearSelect {
  border: 2px solid #BE0076;
  background-color: #f8f8f8;
  cursor: pointer;
  font-weight: bold;
  margin-left: 5px;
  padding: 0px 3px;
}
.prevNavArrowButton:hover {
  background-color: #BE0076;
  color: #f3f3f3;
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.nextNavArrowButton:hover {
  background-color: #BE0076;
  color: #f3f3f3;
  transition: all .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.schText {
  font-weight: bold;
  font-size: 1.3rem;
  font-family: "Heebo", sans-serif;
  position: relative;
  left: 30px;
}
.downloadCalender {
  position: relative;
  left: 30px;
  padding: 0.7rem 2rem;
  border: 2px solid #BE0076;
  width: 25%;
  margin-bottom: 30px;
  color: #000;
  font-family: 'Heebo', sans-serif;
  background-color:#f3f3f3;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  transition: all .9s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.downloadCalender:hover {
  border:2px solid #F2F2F2;
  background-color: #F2F2F2;
  transition: all .9s cubic-bezier(0.215, 0.610, 0.355, 1);
}
.downloadCalender>a{
  text-decoration-color: #000;
}
@media only screen and (max-width: 768px) {
  .dayGridItemContainer {
    box-sizing: border-box;
    /* height: ; */
    /* padding: 0px; */
  }
  .navigationHeader {
    display: flex;
    justify-content: center;
    padding: 0;
    margin-top: 50px;
  }
  .downloadCalender {
    width: 100%;
  }
}