@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap");


.bannerImgContainer {
    background-image: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1668787879/frame_m5frt1.png");
    background-position: center;
    background-size: cover;
    padding-bottom: 50vh;
}
.addrContainer {
    background-color: #f9f9f9;
    padding-bottom: 30px;
    height:40vh;
    width: 100%;
    margin: -30px auto;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

}
.contactSlug > p:nth-child(1) {
    text-align: center;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
    margin-top: 10px;
}
.contactSlug > p:nth-child(2) {
    text-align: center;
    font-family: "Poppins", sans-serif;
    text-overflow: clip;
    font-size: 15px;
    padding: 0px 20px;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .addrContainer {
        margin-top: 20px;
        /* height: 10vh; */
    }
}