@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700&family=Josefin+Sans:wght@400;500;600;700&display=swap');


.inputForm {
  display: flex;
  justify-content: center;
}

.input {
  width: 200px;
  height: 10px;
  border: 1px solid black;
  padding: 20px;
}

/* NAVBAR */
.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
}

.brandName {
  margin-left: 1rem;
}

.navigationMenu {
  margin-left: auto;

}

.navigationMenu ul {
  display: flex;
  padding: 0;
}

.navigationMenu li {
  list-style-type: none;
  margin: 0 1rem;
  display: inline-block;
}

.navigationMenu li a {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  display: block;
  width: 100%;
  color: #212121;
  padding: 4px 10px;
}

.navigation li a::after,
.navigation li a::before {
  transition: all .5s;
}

.shift li a {
  position: relative;
  z-index: 1;
}

.shift li a:hover {
  color: #fff;
}

.shift li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #bd0075;
  visibility: none;
  opacity: 0;
  z-index: -1;
  border-radius: 1px;
}

.shift li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.mobileButton {
  display: none;
}


/* HEROBANNER */

.herobanner {
  background-image: url('/bg.png');
  background-position: center;
  background-size: cover;
  height: 70vh;
}

.imageBackground {
  margin-top: 5%;
  margin-left: 20%;
}

.heroContent {
  padding-top: 20%;
  color: #fff;
}

.heroContent>p:nth-child(1) {
  font-size: 5em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.077em;
}

.heroContent>p:nth-child(2) {
  font-size: 2em;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.077em;
  margin-top: -20px;
}

.heroContent>p:nth-child(3) {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  font-weight: light;
  letter-spacing: 0.067em;
}

.enrolButtonContainer {
  margin-top: 30px;
  position: relative;
}

.buttonBackPosition {
  position: relative;
}

.buttonFrontPosition {
  position: absolute;
  top: 6px;
  left: -5px;
}

.buttonText {
  position: absolute;
  top: 0;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  left: 12px;
}

.button {
  padding: 10px;
  background-color: #a0457b;
  color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  margin-top: -7%;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.enrollButton {
  padding-left: 10%;
}

.buttonText {
  padding-left: 7.5%;
  margin-top: 10px;
}

.boy {
  position: absolute;
  display: flex;
  justify-content: center;
  transform: scale(0.69) translate(-40%, -16.5%);
}

.doodleOne {
  position: absolute;
  top: 9%;
}

.doodleTwo {
  position: absolute;
  top: 14%;
  margin-left: -10px;
}

.doodleThree {
  position: absolute;
  top: 18%;
  margin-left: -25px;
}

.doodleFour {
  position: absolute;
  top: 9%;
  right: 30%;
}

.doodleFive {
  position: absolute;
  top: 14%;
  right: 30%;
  margin-right: -10px;
}

.doodleSix {
  position: absolute;
  top: 18%;
  right: 30%;
  margin-right: -10px;
}

/* NOTICE */
.noticeBg {
  background-color: #a0457b;
  width: 100%;
  overflow: hidden;
}

.noticeText {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.25px;
  color: #ffffff;
  padding: 6%;
}

/* WELCOME NOTES */
.welcomeHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.welcomeTitle>p:nth-child(1) {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.25px;
  font-weight: bold;
  font-size: 20px;
}

.welcomeTitle>p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-weight: light;
  letter-spacing: 0.25px;
  font-size: 18px;
}

.welcomeTitle>p:nth-child(3) {
  font-family: "Poppins", sans-serif;
  font-weight: light;
  letter-spacing: 0.25px;
  font-size: 18px;
}

.welcomeTitle>p:nth-child(4) {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.25px;
  font-weight: bold;
  font-size: 21px;
  color: rgb(137, 35, 98);
}

.welcomeTitle>hr {
  width: 50%;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  margin-left: 15%;
}

.welcomeText {
  width: 500px;
  margin: 0 auto;
  letter-spacing: 0.06rem;
}

/* ABOUT SECTION */
.abtWrapper {
  background: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto/v1668634984/Rectangle_24_ukra3h.png");
  padding-bottom: 50px;
  background-position: 15% 0% !important;
  background-size: cover;
  position: relative;
}

.abtHeader {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: 0.25px;
  font-size: 20px;
  margin-top: 40%;
}

.abtHeader>p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 0.25px;
  line-height: 30px;
}

.abtImgContainer {
  position: absolute;
  top: 35%;
  right: 3%;
}

.AbtTitle {
  position: absolute;
  top: 22%;
  right: 10%;
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.25px;
  line-height: 20px;
  display: inline-block;
}

/* PROGRAMS */
.programWrapper {
  background-color: #f3f3f3;
}

.programText>h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.programText>h5 {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.25px;
  line-height: 40px;
}

.progHeader>h4 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.progHeader>p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.25px;
  font-size: 18px;
  /* width: 400px; */
  padding-bottom: 10%;
  margin: auto;
}

/* TESTIMONIALS */
.testimonialWrapper {
  background-color: #A0457B;
}

.testimonialHeader {
  padding-top: 3%;
}

.testimonialHeader>p:nth-child(1) {
  color: #efefef;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.testimonialHeader>P:nth-child(2) {
  color: #efefef;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 1.2em;
  text-align: center;
}

.myCarousel {
  width: 510px;
  margin: 3% auto;
}

.myCarousel>p {
  color: #efefef;
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  text-align: justify;
}

.myCarousel p:nth-child(1)::before {
  content: url('/left_quote.png');
  color: #f1f1f1;
  width: 20px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.myCarousel p:nth-child(1)::before {
  content: "â€";
  color: #f1f1f1;
  font-size: 26px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  line-height: 0;
}

.myCarousel>p:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  font-family: inherit;
  font-weight: bold;
  text-transform: uppercase;
}

.myCarousel>p:last-child {
  display: flex;
  justify-content: flex-end;
  font-family: inherit;
}

/* SCROLL TO TOP */
.launch {
  position: relative;
}

.iconPosition {
  position: fixed;
  top: 10%;
  right: 42%;
  z-index: 20;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

.iconPosition:hover {
  animation: none;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* CONTACTPAGE */
.contactBg {
  background: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto,w_500,c_scale/v1668755422/contactBg_qymlzm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-bottom: 70px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
}

.formSpree {
  display: flex;
  justify-content: center;
  padding: 0px 30px;
}

.formSpree>form>label {
  margin-top: 12px;
}

.formSpree>form>input {
  width: 100%;
  border-radius: 20px;
  margin-top: 5px;
  padding: 10px 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.formSpree>form>textarea {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 16px;
}

/* FOOTER */
.footerbg {
  margin-top: 40px;
  color: white;
  background-color: #171717;
  height: auto;
  padding-top: 50px;
  padding-bottom: 30px;
  text-align: justify;
}

.footerItems {
  font-family: "Poppins", sans-serif;
  width: 200px;
  margin: 0 auto;
  letter-spacing: 0.035em;
  font-size: 0.88em;
  line-height: 18px;
  padding: 12px;
}

.footerItems>p:nth-child(1) {
  font-weight: bold;
  color: #a0457b;
}

.footerItems>a {
  text-decoration: none;
  color: #f9f9f9;
}

/* GALLERY PAGE */
.Herogallery {
  background-image: url("../public/img/gallery.png");
  background-position: 0% 50%;
  background-size: cover;
  position: relative;
  background-color: #727272;
  height: 50vh;
  overflow: hidden;
}

.Herogallery>h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f9f9f9;
  font-family: "Poppins", sans-serif;
  font-size: 3.5rem;
  letter-spacing: 0.04rem;
}

.coverImg {
  margin-top: 5%;
  position: relative;
  width: 100%;
  height: 45vh;
  filter: grayscale(0%);
}

.coverImg:hover {
  filter: grayscale(100%);
  transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.coverTitle {
  font-size: 2.1rem;
  font-family: 'Josefin Sans', sans-serif;
  border-bottom-color: #bd0075;
  border-bottom-width: 5px;
  border-style: solid;
  text-align: center;
  padding: 2rem;
  background-color: #f3f3f3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.coverTitle>a {
  color: #000;
  text-decoration: none;
}

.galleryCard:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* NEWSLETTER */
.newsLetterIcon {
  margin-bottom: -10%;
  padding-top: 10%;
}

.newsletterBg {
  background-color: #efefef;
  background: rgba(239, 239, 239, 0.6);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 60px;
}

.NewsletterPng {
  display: flex;
  justify-content: center;
}

.newsLettertext {
  display: block;
  margin: 12% 0px;
}

.newsLettertext>p:nth-child(1) {
  font-size: 2.2rem;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.07rem;
}

.newsLettertext>p:nth-child(2) {
  font-size: 1rem;
  font-weight: normal;
  color: #727272;
  font-family: "Poppins", sans-serif;
  margin: -10px 0px;
  letter-spacing: 0.07rem;
}

.newsletterInputBg {
  margin-top: -10%;
}

.newsletterInput {
  width: 70%;
  padding: 10px 20px;
  border-radius: 20px;
}

.newsletterInput::placeholder {
  color: #8f8f8f;
  font-size: 0.9rem;
  letter-spacing: 0.07rem;
}

.newsletterButton {
  margin-top: 20px;
}

.subButton {
  font-family: "poppins", sans-serif;
  width: 70%;
  background-color: #bd0075;
  color: #ffffff;
  padding: 10px 20px;
  letter-spacing: 0.07rem;
  border-radius: 20px;
}

.subButtonDisabled {
  font-family: "poppins", sans-serif;
  width: 70%;
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #8f8f8f;
  letter-spacing: 0.07rem;
  cursor: no-drop !important;
}

/* SUCCESS */
.successBg {
  margin: 20px auto;
  background: rgba(239, 239, 239, 0.6);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 70%;
  height: 30vh;
}

.successBg>p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding-top: 10%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .navigationMenu ul {
    display: none;
  }

  .navigationMenu ul {
    position: absolute;
    top: 60px;
    padding-bottom: 20px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
  }

  .navigationMenu li {
    text-align: center;
    margin: 0;
  }

  .navigationMenu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigationMenu li:hover {
    background-color: #eee;
  }

  .navigationMenu.expanded ul {
    display: block;
    z-index: 1;
  }

  .mobileButton {
    display: inline-block;
  }

  .desktopButton {
    display: none;
  }

  .enrolButtonContainer {
    width: 150px;
    margin: 20% auto;
  }

  .imageBackground {
    display: none;
  }

  .welcomeHeader {
    text-align: center;
    margin-top: 10%;
  }

  .heroContent>p:nth-child(1) {
    font-size: 2.5em;
    text-align: center;
  }

  .heroContent>p:nth-child(2) {
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
  }

  .heroContent>p:nth-child(3) {
    font-size: 1em;
    text-align: center;
  }

  .AbtTitle {
    display: none;
  }

  .noticeButton {
    margin-top: -8px;
    padding-bottom: 36px;
  }

  .welcomeTitle>p:nth-child(1) {
    margin-top: 30px;
    text-align: center;
  }

  .welcomeTitle>p:nth-child(2) {
    text-align: center;
  }

  .welcomeTitle>p:nth-child(3) {
    text-align: center;
  }

  .welcomeTitle>p:nth-child(4) {
    font-size: 20px;
    text-align: center;
  }

  .welcomeTitle>hr {
    width: 100%;
  }

  .title {
    margin: 0;
    text-align: center;
  }

  .abtHeader {
    text-align: center;
  }

  .abtImg {
    display: none;
  }

  .abtHeader {
    font-size: 18px;
  }

  .AbtTitle {
    right: 0;
    left: 0;
    text-align: center;
    font-size: 25px !important;
  }

  .abtImgContainer {
    display: none;
  }

  .newsLettertext {
    text-align: center;
  }

  .newsletterInputBg,
  .newsletterButton {
    display: flex;
    justify-content: center;
  }

  .portal {
    width: 50%;
    height: 20px;
    margin: 0 auto !important;
  }

  .portal {
    display: none;
  }

  .myCarousel {
    width: 250px;
  }

  .noticeText {
    text-align: center;
  }

  @media (width: 820px) {
    .heroContent>p:nth-child(1) {
      font-size: 50px;
    }
  }

  @media (width: 912px) {
    .heroContent>p:nth-child(1) {
      font-size: 50px;
    }
  }
}