@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400;1,700&family=Poppins:wght@300&display=swap");

/* NAVBAR */
.navLink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10%;
}
.navLink > li > a {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  display: inline-block;
  width: 20%;
  padding-left: 3%;
  padding-right: 10%;
  cursor: pointer;
  margin-right: 30px;
  list-style-type: none;
  color: #fff !important;
  text-decoration: none;
  cursor: pointer;
}
.transparent {
  width: 100%;
  z-index: 10;
  position: sticky;
}

/* HEROBANNER */
.bigText {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.subText {
  font-family: "Poppins", sans-serif;
  bottom: 259px;
  left: 35px;
}
.subTextSys {
  font-family: "Poppins", sans-serif;
  bottom: 210px;
  left: 35px;
}
.enrolbuttonbk {
  position: absolute;
  height: 50px;
  width: 150px;
  bottom: 135px;
  left: 20px;
}

.enrolbuttonfk {
  position: absolute;
  height: 50px;
  width: 150px;
  bottom: 130px;
  left: 15px;
}
.enrolbuttonfk > span > p {
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 10px;
  left: 15px;
}
.transBoy {
  position: absolute;
  justify-content: center;
  display: flex;
  top: -95px;
  right: 30px;
  transform: scale(0.6);
  display: none;
}
.ballOne {
  position: absolute;
  top: 420px;
  left: 700px;
}
.ballTwo {
  position: absolute;
  top: 340px;
  left: 630px;
}
.ballThree {
  position: absolute;
  top: 340px;
  left: 700px;
}
.doodleOne {
  top: 92px;
  position: absolute;
  left: 763px;
}
.doodleTwo {
  top: 113px;
  position: absolute;
  left: 753px;
}
.doodleThree {
  top: 125px;
  position: absolute;
  left: 736px;
}
.doodleFour {
  top: 90px;
  position: absolute;
  left: 966px;
}
.doodleFive {
  top: 117px;
  position: absolute;
  left: 966px;
}
.doodleSix {
  top: 105px;
  position: absolute;
  left: 966px;
}
.bookBoy {
  transform: scale(0.8);
  left: 370px;
}

/* WELCOME NOTES */

.welcomeHeader {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.welPrincp {
  margin-top: -340px;
  margin-right: 10px;
}
.welcomeText > p:nth-child(2) {
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.03rem;
}
.psudoName {
  position: relative;
  color: rgb(137, 35, 98);
}
.psudoName:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  width: 53%;
  height: 2px;
  bottom: -11px;
  background: #727272;
}
.position {
  margin-left: 15%;
  margin-top: 10px;
}
.welcomeText {
  width: 500px;
  margin: 0 auto;
  letter-spacing: 0.06rem;
}

/* ABOUT SECTION */
.abtSection {
  background-color: #f9f9f9;
  height: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  letter-spacing: 0.06rem;
}
.abtSection > h3 {
  font-family: "Poppins", sans-serif;
}

.welcomeText > a {
  font-family: "Poppins", sans-serif;
  color: black;
  text-decoration: none;
  transition: all 0.8s ease-in-out;
}
.objPos {
  object-position: left;
}

/* PROGRAMS */
.programText > h2 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.programText > h5 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.progHeader > h4 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
.progHeader > p {
  text-align: center;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.06rem;
  font-size: 0.89rem;
}

/* TESTIMONIALS */
.testBg {
  position: relative;
  background-color: #a0457b;
  padding-top: 20px;
  padding-bottom: 20px;
}
.parentImg {
  position: absolute;
  display: flex;
  justify-content: start;
  transform: scale(0.7);
  bottom: -70px;
}
.carousel {
  color: wheat;
  width: 100%;
}
.btnSlider {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1f1f1;
  border: 1px solid rgba(34, 34, 34, 0.287);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.prev {
  transform: translateY(-60%);
}
.next {
  transform: translateY(-60%);
}
