.homeBody {
  --heroFontPrimary: clamp(2.5em, 10vw, 7em);
  --heroFontSecondary: clamp(1.4em, 10vw, 2em);
  --heroFontTetiary: clamp(.8em, 10vw, 1.2em);
  --primaryFontSize: 30px;
  --secondaryFontSize: 20px;
  --tetiaryFontSize: 18px;
  --sectionMargin: 7rem;
  --secondaryLetterSpacing: 0.047em;
}

.inputForm {
  display: flex;
  justify-content: center;
}

.input {
  width: 200px;
  height: 10px;
  border: 1px solid black;
  padding: 20px;
}

/* NAVBAR */
.navigation {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
}

.brandName {
  margin-left: 1rem;
}

.navigationMenu {
  margin-left: auto;

}

.navigationMenu ul {
  display: flex;
  padding: 0;
}

.navigationMenu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigationMenu li a {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  display: block;
  width: 100%;
  color: #212121;
  padding: 4px 10px;
}

.navigation li a::after,
.navigation li a::before {
  transition: all .5s;
}

.stroke li a {
  display: inline-block;
  position: relative;
  color: #000;
}

.stroke li a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #bd0075;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out
}

.stroke li a:hover {
  color: #666;
}

.stroke li a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
  opacity: 1;
}


.hamburger {
  border: 0;
  height: 40px;
  width: 40px;
  padding: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
}

.mobileButton {
  display: none;
}


/* HEROBANNER */
.banner1 {
  background: linear-gradient(69.35deg, rgba(0, 0, 0, .5)0%, rgba(0, 0, 0, .5)99.45%), linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/learning.jpg") no-repeat center;
  background-size: cover;
  height: 600px;
  font-family: "Poppins", sans-serif;
}


.banner1>div>p {
  padding-left: 10%;
}

.banner1>div>p:nth-child(1) {
  padding-top: 10%;
}


.enrolButtonContainer {
  margin-top: 30px;
  position: relative;
  margin-left: 10%;
}

.buttonBackPosition {
  position: relative;
}

.buttonFrontPosition {
  position: absolute;
  top: 6px;
  left: -5px;
}

.buttonText {
  position: absolute;
  top: 0;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  left: 17px;
}

.button {
  padding: 10px;
  background-color: #a0457b;
  color: #f1f1f1;
  font-family: 'Poppins', sans-serif;
  margin-top: -7%;
  margin-right: 10px;
  margin-left: 10px;
  border-radius: 5px;
}

.enrollButton {
  padding-left: 10%;
}

.buttonText {
  padding-left: 7.5%;
  margin-top: 10px;
}


/* NOTICE */
.noticeBg {
  background-color: #BD0075;
  width: 100%;
  overflow: hidden;
}

.noticeText {
  font-family: 'Poppins', sans-serif;
  font-style: italic;
  font-size: var(--tetiaryFontSize);
  letter-spacing: var(--secondaryLetterSpacing);
  color: #ffffff;
  padding-top: 20px;
  font-size: 17px;
  text-align: center;
}

/* WELCOME NOTES */
.welcomWrapper {
  margin-top: 10%;
  box-shadow: 0px 0px 4px 4px rgba(189, 0, 117, 0.3);
  border: 2px solid #BD0075;
  border-radius: 20px;
  backdrop-filter: blur(28.5px);
}

.welcomeHeader {
  font-family: 'Bree Serif', serif;
  font-weight: bold;
  font-size: var(--primaryFontSize);
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.welcomeHeader>p {
  color: linear-gradient(90deg, #BD0075 40.7%, rgba(231, 151, 4, 0.91) 106.39%);
}

.welcomeTitle {
  padding: 0px 15px;
  max-inline-size: 66ch;
  display: grid;
  place-content: center;
}

.welcomeTitle>p:nth-child(1) {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: var(--secondaryFontSize);
  letter-spacing: var(--secondaryLetterSpacing);
}

.welcomeTitle>p:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: .035rem;
  font-size: var(--tetiaryFontSize);
  margin: 0 auto;

}

.welcomeTitle>p:nth-child(3) {
  font-family: 'Poppins', sans-serif;
  font-weight: light;
  letter-spacing: var(--secondaryLetterSpacing);
  font-size: var(--tetiaryFontSize);
}

.welcomeTitle>p:nth-child(4) {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.25px;
  font-weight: bold;
  font-size: var(--tetiaryFontSize);
  color: rgb(137, 35, 98);
}

.welcomeTitle>hr {
  width: 50%;
}

.title {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: var(--tetiaryFontSize);
  margin-left: 15%;
}

.welcomeText {
  width: 500px;
  margin: 0 auto;
  letter-spacing: 0.06rem;
}

.headmisImg {
  top: 0%;
}

.backgroundImage {
  position: absolute;
  height: 350px;
  width: 300px;
  display: flex;
  justify-content: center;
}

/* ABOUT SECTION */
.abtWrapper {
  background-image: url("/pat.png");
  padding-bottom: 50px;
  background-color: #1E1E1E;
  background-position: center;
  background-size: cover;
  margin-top: 7%;
}

.abtHeader {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.035rem;
  margin-top: 30%;
  color: #fff;
}

.abtHeader>p:nth-child(1) {
  font-size: 25px;
  font-weight: 700;
}

.abtHeader>p:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  ;
  font-size: var(--tetiaryFontSize);
  font-weight: 400;
}

.learnMore {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: var(--tetiaryFontSize);
  font-weight: 700;
  padding-bottom: 30px;
  color: #bd0075;
}

.learnMore::after {
  content: "";
  position: absolute;
  background-image: url("/rightCar.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  font-weight: 700;
  width: 20px;
  height: 10px;
  top: 10px;
  color: #bd0075;
}

.learnMore:hover::after {
  transition: all .3s ease-in-out;
  margin-left: 2px;
}

.abtImgContainer {
  position: absolute;
  top: 25%;
  right: 3%;
}

.AbtTitle {
  position: absolute;
  top: 15%;
  right: 0%;
  /* font-family: 'Bree Serif', serif; */
  font-size: var(--primaryFontSize);
  font-weight: 700;
  letter-spacing: 0.25px;
  line-height: 20px;
  display: inline-block;
  color: #fff;
}

/* PROGRAMS */
.programWrapper {
  background-color: #FFFFFF;
  margin-top: var(--sectionMargin);
}

.programText>p:nth-child(1) {
  font-family: 'Bree Serif', serif;
  font-weight: bold;
  font-size: var(--primaryFontSize);
}

.programText>p:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.25px;
  line-height: 40px;
  font-weight: 700;
  font-size: var(--secondaryFontSize);
}

.progHeader>p:nth-child(1) {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  letter-spacing: 0.25px;
  font-size: var(--secondaryFontSize);
  padding-bottom: 5%;
  margin: auto;
}

.progHeader>p:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: var(--tetiaryFontSize);
  margin-top: -7%;
  margin-bottom: 7%;
}

/* EVENTS */
.eventWrapper {
  background: linear-gradient(69.35deg, rgba(0, 0, 0, .5)0%, rgba(0, 0, 0, .5)99.45%), linear-gradient(0deg, rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url("/hero.jpg") no-repeat center;
  background-color: #E9E9E9;
  height: 50vh;
  margin-top: 5%;
}

.eventHeader {
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  padding-top: 2rem;
  font-weight: 700;
}

.eventDate {
  background-color: #bd0075;
}

.eventName {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  padding-top: 1.4rem;
  background-color: #E99808;
  text-align: center;
}

.eventDate>p:nth-child(1) {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  padding-top: 1.2rem;
}

.eventDate>p:nth-child(2) {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;

}

.eventButton {
  background-color: #BD0075;
  padding: 15px;
  display: flex;
  justify-content: center;
  color: #fff;
  font-family: "Poppins", sans-serif;
  margin: 5% auto;
}

/* TESTIMONIALS */
.testimonialWrapper {
  background-image: url("/pat.png");
  background-color: #1E1E1E;
  margin-top: var(--sectionMargin);
  margin-bottom: 25px;
}

.testimonialHeader {
  padding-top: 3%;
}

.testimonialHeader>p:nth-child(1) {
  color: #fff;
  font-family: 'Poppins', serif;
  font-weight: 700;
  font-size: var(--primaryFontSize);
}

.testimonialHeader>P:nth-child(2) {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: var(--tetiaryFontSize);
  text-align: center;
}

.testContainer {
  margin-top: 10%;
  margin-bottom: 10%;
}

.testContainer>p:nth-child(1) {
  font-weight: 500;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-transform: capitalize;
}

.testContainer>p:nth-child(2) {
  font-weight: 700;
  margin-left: 40%;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-transform: capitalize;

}

.testContainer>p:nth-child(3) {
  margin-left: 40%;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-transform: capitalize;

}

/* SCROLL TO TOP */
.launch {
  position: relative;
}

.iconPosition {
  position: fixed;
  top: 27%;
  left: 90%;
  z-index: 20;
  cursor: pointer;
  animation: movebtn 3s ease-in-out infinite;
  transition: all 0.5s ease-in-out;
}

.iconPosition:hover {
  animation: none;
}

@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }

  25% {
    transform: translateY(20px);
  }

  50% {
    transform: translateY(0px);
  }

  75% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0px);
  }
}

/* CONTACTPAGE */
.contactBg {
  background: url("https://res.cloudinary.com/ddwkojhaj/image/upload/q_auto,f_auto,w_500,c_scale/v1668755422/contactBg_qymlzm.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 70px;
  margin-bottom: 70px;
  height: auto;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 20px;
}

.contactBg>p:nth-child(1) {
  font-family: "Bree Serif", serif;
  font-size: var(--primaryFontSize);
}

.contactBg>p:nth-child(2) {
  font-family: 'Poppins', sans-serif;
  font-size: var(--secondaryFontSize);
}

.formSpree {
  display: flex;
  justify-content: center;
  padding: 0px 30px;
}

.formSpree>form>label {
  margin-top: 12px;
}

.formSpree>form>input {
  width: 100%;
  border-radius: 20px;
  margin-top: 5px;
  padding: 10px 16px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.formSpree>form>textarea {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px 16px;
}

/* FOOTER */
.footerbg {
  margin-top: 40px;
  color: white;
  background-color: #171717;
  height: auto;
  padding-top: 50px;
  padding-bottom: 30px;
}

.footerItems {
  font-family: 'Poppins', sans-serif;
  width: 200px;
  margin: 0 auto;
  letter-spacing: 0.035em;
  font-size: var(--secondaryFontSize);
  line-height: 18px;
  padding: 12px;
}

.footerItems>p:nth-child(1) {
  font-weight: bold;
  color: #a0457b;
}

.footerItems>a {
  text-decoration: none;
  color: #f9f9f9;
}

.socialIcons {
  transition: all .3s ease;
}

.socialIcons:hover {
  transform: scale(1.1);
  transition: all .3s ease;
}


/* GALLERY PAGE */
.Herogallery {
  background-image: url("../public/img/gallery.png");
  background-position: 0% 50%;
  background-size: cover;
  position: relative;
  background-color: #ededed;
  height: 50vh;
  overflow: hidden;
  border-bottom: 7px solid #bd0075;

}

.Herogallery>p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f9f9f9;
  font-family: "Bree Serif", serif;
  font-size: clamp(2.5em, 10vw, 4em);
  font-weight: 800;
  letter-spacing: 0.04rem
}

.coverImg {
  margin-top: 5%;
  position: relative;
  width: 100%;
  height: 45vh;
  filter: grayscale(0%);
}

.coverImg:hover {
  filter: grayscale(100%);
  transition: all .3s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.coverTitle {
  font-size: 2.1rem;
  font-family: "Poppins", sans-serif;
  border-bottom-color: #bd0075;
  border-bottom-width: 5px;
  border-style: solid;
  text-align: center;
  padding: 2rem;
  background-color: #f3f3f3;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.coverTitle>a {
  color: #000;
  text-decoration: none;
}

.galleryCard:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* NEWSLETTER */
.newsLetterIcon {
  margin-bottom: -10%;
  padding-top: 10%;
}

.newsletterBg {
  background-color: #efefef;
  background: rgba(239, 239, 239, 0.6);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: var(--sectionMargin);
  margin-bottom: var(--sectionMargin);
}

.NewsletterPng {
  display: flex;
  justify-content: center;
}

.newsLettertext {
  display: block;
  margin: 12% 0px;
}

.newsLettertext>p:nth-child(1) {
  font-size: var(--primaryFontSize);
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.07rem;
}

.newsLettertext>p:nth-child(2) {
  font-size: var(--tetiaryFontSize);
  font-weight: normal;
  color: #727272;
  font-family: "Poppins", sans-serif;
  margin: -10px 0px;
  letter-spacing: 0.07rem;
}

.newsletterInputBg {
  margin-top: -10%;
}

.newsletterInput {
  width: 70%;
  padding: 10px 20px;
  border-radius: 20px;
}

.newsletterInput::placeholder {
  color: #8f8f8f;
  font-size: var(--tetiaryFontSize);
  letter-spacing: 0.07rem;
}

.newsletterButton {
  margin-top: 20px;
}

.subButton,
.subButtonDisabled {
  font-family: "Poppins", sans-serif;
  font-size: var(--tetiaryFontSize);
  width: 70%;
  color: #ffffff;
  padding: 10px 20px;
  letter-spacing: 0.07rem;
  border-radius: 20px;
}

.subButton {
  background-color: #bd0075;
}

.subButtonDisabled {
  background-color: #8f8f8f;
  cursor: no-drop !important;
}


/* SUCCESS */
.successBg {
  margin: 20px auto;
  background: rgba(239, 239, 239, 0.6);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  width: 70%;
  height: 30vh;
}

.successBg>p {
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 2rem;
  padding-top: 10%;
}

.galleryImg {
  background-image: url("/creche.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 100%;
}

.card {
  --background: #fff;
  --background-image: #fff, rgba(0, 107, 175, 0.2);
  --text-color: #666;
  --text-headline: #000;
  --card-shadow: #0082ff;
  --card-height: 350px;
  --card-width: 100%;
  --card-radius: 8px;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --header-height: 97px;
  --blend-mode: overlay;
  --transition: 0.15s;
  --font-size: 18px;
  --subtitle-font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cardBody {
  margin-top: 20%;
  display: grid;
  grid-auto-rows: calc(var(--card-height) - var(--header-height)) auto;
  background: var(--background);
  height: var(--card-height);
  width: var(--card-width);
  border-radius: var(--card-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  box-shadow: var(--shadow, 0 4px 4px 0 rgba(0, 0, 0, 0.02));
  transition: transform var(--transition), box-shadow var(--transition);
  transform: scale(var(--scale, 1)) translateZ(0);
}

.cardBody:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.cardBodyCover {
  --c-border: var(--card-radius) var(--card-radius) 0 0;
  --c-width: 500px;
  --c-height: 100%;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
}

.cardBodyCover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: var(--c-width);
  height: var(--c-height);
  border-radius: var(--c-border);
  background: linear-gradient(to bottom right, var(--background-image));
  mix-blend-mode: var(--blend-mode);
  opacity: var(--opacity-bg, 1);
  transition: opacity var(--transition) linear;
}

.cardBodyCoverImage {
  width: var(--c-width);
  height: var(--c-height);
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 0.5s ease;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, var(--x-y1, 100% 90%), var(--x-y2, 67% 83%), var(--x-y3, 33% 90%), var(--x-y4, 0% 85%));
  clip-path: polygon(0% 0%, 100% 0%, var(--x-y1, 100% 90%), var(--x-y2, 67% 83%), var(--x-y3, 33% 90%), var(--x-y4, 0% 85%));
}

.cardBodyCoverImage:hover {
  filter: grayscale(20%);
}

.cardBodyHeader {
  height: var(--header-height);
  background: var(--background);
  padding: 0 10px 10px 10px;
}

.cardBodyHeaderTitle {
  color: var(--text-headline);
  font-weight: 700;
  margin-bottom: 8px;
  font-size: var(--font-size);
  font-family: "Poppins", sans-serif;
}

.cardBodyHeaderSubtitle {
  color: var(--text-color);
  font-weight: 500;
  font-size: var(--subtitle-font-size);
  font-family: "Poppins", sans-serif;
}

/* POST */
.postTitle {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 5%;
  font-weight: bold;
}

.iframePost {
  width: 100%;
  height: 500px;
  border: none;
}

/* CALENDER */
.calenderBanner {
  background-image: url("https://scontent.flos5-1.fna.fbcdn.net/v/t39.30808-6/325427020_2090308651162223_2208857078062030357_n.jpg?_nc_cat=111&ccb=1-7&_nc_sid=e3f864&_nc_eui2=AeE0Nndwany4PDK-TNy2FqvLhqM5TTUen7OGozlNNR6fsyf4GBAL4xWtcQlqZpXHST-XTuxCxFqZ7SBTFp8es_5T&_nc_ohc=hOPgYT_X0U8AX9MJZCX&_nc_zt=23&_nc_ht=scontent.flos5-1.fna&oh=00_AfCb3bi6br0Iw5aVnm8mOAjYK51McgQrqKNTfJ1-ueZ6Ug&oe=63D3D6B9");
  background-size: cover;
  height: 500px;
  border-bottom: 7px solid #bd0075;
}

.fullCalender {
  margin-top: 5%;
  color: #000;
}

.fullCalender>h2 {
  font-family: 'Bree Serif', serif !important;
  font-weight: 700;
  color: #bd0075;
}

.calenderLink,
.newsletterLink {
  margin-top: 10%;
  margin-bottom: 10%;
}

.newsletterLink {
  float: right;
}

.calLinkdownload {
  color: #000;
  text-decoration: underline !important;
  font-size: 15px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 12px 25px;
  border: 2px solid #d89b0b;
  border-radius: 2px;
  background-color: #fff;
  transition: all .3s ease;
}

.calLinkdownload::before {
  content: "";
  background-image: url('/link-30.png');
  background-size: contain;
  display: inline-block;
  padding-top: 20px;
  height: 20px;
  width: 20px;
  position: relative;
  top: 3px;
  right: 11px;
}

.calLinkdownload:hover {
  background-color: #e6e4e4;
  opacity: 0.7;
  transition: all .3s ease;
  border: 2px solid #e6e4e4;
  text-decoration: none !important;
}

.tableStyles {
  font-family: "Bree Serif", serif;
  font-size: var(--secondaryFontSize);
}

.GTC {
  font-family: "Bree Serif", serif;
  font-size: var(--primaryFontSize);
}

.invalidBG {
  background-color: #D8C9B5;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 50%;
  margin: 10% auto;
}

.notFound {
  display: grid;
  place-content: center;
}

.notFound>p:nth-child(1) {
  font-size: clamp(2em, 8rem + 1.5vw, 8em);
  font-weight: 700;
  text-align: center;
}

.notFound>p:nth-child(2) {
  font-size: clamp(1em, 2rem + 1.5vw, 2.3em);
  ;
  color: #bd0075;
  font-family: 'Bree Serif', serif;
  margin-top: -10%;
}

.notFound>p:last-child {
  font-size: 1.2em;
  color: #000;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

/* MEDIA QUERIES */
@media screen and (max-width: 767px) {
  .hamburger {
    display: block;
  }

  .navigationMenu ul {
    display: none;
  }

  .navigationMenu ul {
    position: absolute;
    top: 60px;
    padding-bottom: 20px;
    left: 0;
    flex-direction: column;
    width: 100%;
    background-color: white;
    border-top: 1px solid black;
  }

  .navigationMenu li {
    text-align: center;
    margin: 0;
  }

  .navigationMenu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigationMenu li:hover {
    background-color: #eee;
  }

  .navigationMenu.expanded ul {
    display: block;
    z-index: 1;
  }

  .mobileButton {
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-transform: capitalize;
    font-family: "Poppins", sans-serif;
  }

  .mobileButton>a {
    color: #000;
    text-decoration: none;
  }

  .desktopButton {
    display: none;
  }

  .enrolButtonContainer {
    width: 150px;
    margin: 20% auto;
  }

  .imageBackground {
    display: none;
  }

  .banner1 {
    height: 300px;
    text-align: center;
  }

  .banner1>div>p {
    padding: 0;
  }

  .banner1>div>p:nth-child(1) {
    font-size: 1.4rem;
    padding-top: 15%;
  }

  .banner1>div>p:nth-child(2) {
    font-size: 1.7rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .banner1>div>p:nth-child(3) {
    font-size: 1rem;
    padding-left: 10%;
    padding-right: 10%;
  }

  .welcomeHeader {
    text-align: center;
    margin-top: 10%;
  }

  .AbtTitle {
    display: none;
  }

  .noticeButton {
    margin-top: -8px;
    padding-bottom: 36px;
  }

  .welcomeTitle>p:nth-child(1) {
    margin-top: 30px;
    text-align: center;
  }

  .welcomeTitle>p:nth-child(2) {
    text-align: center;
    font-size: .9375rem;
    line-height: 1.6875rem;
    padding: 0px 10px;
  }

  .welcomeTitle>p:nth-child(3) {
    text-align: center;
    font-size: .9375rem;
    line-height: 1.6875rem;
    padding: 0px 10px;
  }

  .welcomeTitle>p:nth-child(4) {
    text-align: center;
    line-height: 1.6875rem;
    font-size: 1.0234566rem;
  }

  .welcomeTitle>hr {
    width: 100%;
  }

  .title {
    margin: 0;
    text-align: center;
  }

  .abtHeader {
    padding: 0px 10px;
    text-align: center;
  }

  .abtHeader>p:nth-child(2) {
    font-size: .9375rem;
    line-height: 1.6875rem;
  }

  .testimonialHeader>p:nth-child(1) {
    font-size: 20px;
    line-height: 1.9rem;
  }

  .testimonialHeader>p:nth-child(2) {
    font-size: 15px;
  }

  .testimonialCol {
    width: auto;
  }

  .myCarousel>p:nth-child(1) {
    font-size: .98rem;
  }

  .myCarousel>p:nth-child(2) {
    font-size: .89rem;
  }

  .myCarousel>p:last-child {
    font-size: .89rem;
  }

  .learnMore {
    font-size: .9375rem;
    line-height: 1.6875rem;
  }

  .abtImg {
    display: none;
  }

  .AbtTitle {
    right: 0;
    left: 0;
    text-align: center;
    font-size: 25px !important;
  }

  .abtImgContainer {
    display: none;
  }

  .newsLettertext {
    text-align: center;
  }

  .newsletterInputBg,
  .newsletterButton {
    display: flex;
    justify-content: center;
  }

  .newsLetterIcon {
    display: flex;
    justify-content: center;
  }

  .newsLettertext>p:nth-child(1) {
    font-size: 20px;
  }

  .newsLettertext>p:nth-child(2) {
    font-size: 15px;
  }

  .newsletterInput::placeholder {
    font-size: 15px;
    text-align: center;
  }

  .subButtonDisabled,
  .subButton {
    font-size: 15px;
  }

  .footerItems {
    text-align: center;
  }

  .portal {
    display: none;
  }

  .myCarousel {
    width: 250px;
  }

  .noticeText {
    text-align: center;
    font-size: 0.9875rem;
    line-height: 1.6875rem;
  }

  .calenderLink {
    display: flex;
    margin: 10% auto;
  }

  .newsletterLink {
    display: flex;
    margin: 0 auto;
    float: none;
    margin-bottom: 10%;
  }

  .progHeader>p:nth-child(2) {
    text-align: center;
    font-size: .9375rem;
    line-height: 1.6875rem;
    padding: 0px 10px;
  }

  .fullCalender>h2 {
    text-align: center;
  }

  .GTC {
    text-align: center;
  }

  .invalidBG {
    width: 80%;
  }
}

@media screen and (min-width: 768px) and (max-width:1024px) {
  .herobanner {
    height: 420px;
  }

  .heroContent>p:nth-child(1) {
    font-size: 4.3rem;
  }

  .imageBackground {
    height: 350px;
    width: 250px;
    margin-top: 40%;
  }

  .invalidBG {
    width: 80%;
  }

}

@media only screen and (width:1024px) {
  .imageBackground {
    margin-top: 20% !important;
  }

  .invalidBG {
    width: 80%;
  }
}